@font-face {
    font-family: "Big Caslon";
    src: url(/fonts/BigCaslon\ Regular.otf);
}

/* Resetting margin/padding + border box */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body width and height set to 100% of viewport*/
body{
    width: 100vw;
    height: 100vh;
    font-family: "Big Caslon", sans-serif;
}

/* Setting grid container to display grid and setting column width*/
.grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*----------------------------*/
/* Sidebar Section CSS Code*/
/*----------------------------*/

.sidebar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1.7fr 1.3fr 0.5fr 0.5fr;
}

.sidebar h2{
    font-size: 2vw;
    font-weight: normal;
}

/* 'Logo' div container */
.logo{
    padding-top: 5%;
    padding-left: 5%;
}

.logo img{
    width: 40%;
    height: auto;
}

/* turn mouse into hover over logo */

.logo img:hover{
    cursor: pointer;
}

/* fixed position button for mobile */
.menu-btn{
    display: none;
}


/* 'Work' div container */

.work{
    padding-top: 5%;
    padding-left: 5%;
}

.work h2{
    color: #3ce5d0;
}

.work ul{
    padding-top: 1%;
}

/* list decoration removed */
.work li{
    list-style: none;
    font-size: 1.7vw;
    color: #0040ff;
}

/* text decoration removed */
.work a{
    color: inherit;
    text-decoration: none;
}

/* 'Info' div container - padding added */
.info{
    padding-top: 5%;
    padding-left: 5%;
    color: #3ce5d0;
}

.info a{
    color: inherit;
    text-decoration: none;
}

/* 'More' div container - padding added*/
.more{
    padding-top: 5%;
    padding-left: 5%;
    color: #3ce5d0;
}

.more a{
    color: inherit;
    text-decoration: none;
}


/*----------------------------*/
/* Content Section CSS Code*/
/*----------------------------*/

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    overflow-x: hidden;
}

.hero-text{
    color: #0040ff;
}

#hero-main, #offset{
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 3vw;
}

#offset{
    margin:0;
    padding: 0;
    opacity: 0;
}

.vimeo{
    /*position: relative;*/
    padding: 0;
    margin: 0;
    width: 100%;
}



/*-------------------------------*/
/* Previous Work Section CSS Code*/
/*-------------------------------*/

.previous_work{
    display: grid;
    grid-template-rows: 100px 500px 350px;
    overflow: scroll;
    overflow-x: hidden;
    
}

.header{
    display: flex;
    align-items: center;

}

.header h1{
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    color: #0040ff;
}

#offset_column{
    display: inline-block;
    width: 10%;
    opacity: 0%;
}

/* image background css for all image-banner links*/
.image-banner{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url(/assets/link0_work.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* image background for link1 [Tebi-Rex]*/
.link1{
    background-image: url(/assets/tebi-rex-hero.jpeg);
}

/* image background for link2 [Super-Silly]*/
.link2{
    background-image: url(/assets/super-silly-hero.jpeg);
}

/* image background for link3 [Yamamori]*/
.link3{
    background-image: url(/assets/yamamori-hero.jpg);
}

/* image background for link3 background image 1 [Yamamori]*/
.link31{
    background-image: url(/assets/yamamori-bg-1.jpg);
}

/* image background for link3 background image 2 [Yamamori]*/
.link32{
    background-image: url(/assets/yamamori-bg-2.jpg);
}

/* image background for link3 [Word-Up Collective]*/
.link4{
    background-image: url(/assets/word-up-banner.jpg);
}


.work-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 1% 1% 1% 0px;
}

.work-text #credits{
    padding: 0.5%;
    color: #0040ff;
    font-size: 1.5vw;
}

/* image background for about section*/
.about-banner{
    background-image: url(/assets/about-banner.jpg);
}

.about-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 1% 1% 1% 0px;
}

.about-text #credits{
    padding: 0.5%;
    color: #0040ff;
    font-size: 1.5vw;
}

.about-text p{
    padding-top: 2%;
}

/*-------------------------------*/
/* Media Queries*/
/*-------------------------------*/

@media screen and (max-width:800px){
    .sidebar{
        display: none;
    }

    .content{
        width: 100vw;
        height: 100vh;
    }

    #hero-main, #offset{
        margin: 0;
        padding: 0;
        font-size: 5vw;
    }

    .previous_work{
        width: 100vw;
        height: 100vh;
    }

    .header h1{
        font-size: 5vw;
    }

    

}

@media screen and (max-width:500px){

    #hero-main, #offset{
        margin: 0;
        padding: 0;
        font-size: 6vw;
    }

    .content{
        padding-top: 5%;
        padding-bottom: 5%;
        grid-template-rows: 0.7fr 1.3fr;
    }

}

/* iPhone XR Media Query */

@media screen and (max-width:414px){

    #hero-main, #offset{
        margin: 0;
        padding: 0;
        font-size: 8vw;
    }

    .content{
        padding-top: 5%;
        padding-bottom: 5%;
        grid-template-rows: 0.7fr 1fr;
    }

    /* + Plus Menu Button */

    .menu-btn{
        display: flex;
        position:absolute;
        top:0;
        right:0;
        width: 50px;
        height: 50px;
    }

    /* Hover added for menu-button */
    .menu-btn:hover{
        cursor: pointer;
    }

    .menu-btn a{
        width: 100%;
        height: 100%;
    }

    .plus{
        position: absolute;
        top: 22px;
        left: 8px;
        width: 35px;
        height: 2.5px;
        background-color: #3ce5d0;
    }

    .rot{
        transform: rotate(90deg);
    }


}